/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 0px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -40px;
}
.carousel-control.right {
	right: -40px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
    list-style-type: square;
	/*background: #c0c0c0;*/
    border-width: 2px;
    border-radius: 4px;
    border-color: gray;
}
.carousel-indicators .active {
/*background: #333333;*/
border-color: #d2c82a;
}
.carousel .carousel-control{
   opacity: 0;
}
/*.carousel:hover .carousel-control{
	visibility: hidden;
}*/
.carousel .carousel-control:hover{
    opacity: 1;
    /*border-radius: 50%;
    width:50%;
    height: 50%;
    background-color: transparent;*/

}