<!-- LogIn Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{header}}</h4>
        </div>
        <div class="modal-body">
          <form action="">  
            <label>
                <p align="left"><strong> Username or Email:</strong></p>
                <input type="text" id="username" class="form-control" size="40" placeholder="Enter Email">
            </label></br>
            <label>
                <p align="left"><strong> Password:</strong></p>  
                <input type="password" class="form-control" size="40" placeholder="Enter Password">
            </label></br>
          </form>
        </div>
        <div class="modal-footer">
            <button class="btn cart-order modal-button" id="btn1" data-dismiss="modal">LogIn</button>
            <a href="#" data-toggle="modal" data-target="#signUpModal" data-dismiss="modal" >Create a new account.</a>
        </div>
      </div>
      
    </div>
  </div>
  <!--***************LogIn Modal End ***********-->